.form {
  display: flex;
  flex-direction: column;

  max-width: 638px;
  margin-top: 116px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 424px) {
    margin-top: 140px;
  }

  @media screen and (max-width: 637px) {
    padding-right: 10px;
    padding-left: 10px;
  }
}

.wrapper {
  margin-top: 12px;
}

.createButton {
  display: flex;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;

  border-radius: 4px;
  background: linear-gradient(0deg, #884dfe 0%, #884dfe 100%),
    linear-gradient(104deg, #a139fd 11.26%, #50bdfc 90.79%);

  transition: box-shadow 0.1s linear;

  color: #fff;
  font-weight: 700;
  line-height: 112.5%;
}

.createButton:hover {
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

.fixedSection {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2e2f3c;
  padding: 20px 0;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
  display: flex;
}

.buttonWrapper {
  margin: auto;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column;
  }
}

.saveChanges {
  color: #fff;
  font-weight: 700;
  line-height: 112.5%;

  background: #45cb54;
  margin-right: 13px;

  @media screen and (max-width: 767px) {
    margin-right: 0px;
    margin-bottom: 10px;
  }
}

.saveChanges,
.cancel {
  display: flex;
  max-width: 638px;
  height: 64px;
  padding: 14px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;

  border-radius: 4px;
  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.08);

  @media screen and (max-width: 374px) {
    width: 200px;
    margin-right: 0px;
  }

  @media screen and (min-width: 375px) {
    width: 300px;
  }

  @media screen and (min-width: 1024px) {
    width: 638px;
  }
}

.saveChanges:hover,
.saveChanges:focus {
  background: #3ea848;
}

.saveChanges::before {
  content: "";
  width: 21px;
  height: 20px;
  flex-shrink: 0;
  background-repeat: no-repeat;
  background-image: url("../../public/images/check-circle.svg");
}

.cancel {
  color: #fff;
  font-weight: 700;
  line-height: 112.5%;

  border-radius: 4px;
  border: 3px solid #424454;
  background: transparent;

  box-shadow: 0px 4px 7px 0px rgba(0, 0, 0, 0.08);
}

.cancel:hover {
  text-decoration: underline;
}
